<!-- app/templates/about.html -->
{% extends "layout.html" %}

{% block title %}Acerca de{% endblock %}

{% block content %}
<div>
    <h2>Acerca de la Aplicación</h2>
    <p>Esta aplicación fue desarrollada para ofrecer una interfaz web fácil de usar que permita a los usuarios consultar datos de vacunación contra el sarampión en niños entre 12-23 meses en Panamá.</p>
    <h3>Características:</h3>
    <ul>
        <li>Consulta de datos históricos de vacunación.</li>
        <li>Visualización de datos a través de una interfaz web interactiva.</li>
    </ul>
</div>
{% endblock %}
